/* body{
    background-color: antiquewhite;
} */

body{
    background-image: url(https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?w=1060&t=st=1692506860~exp=1692507460~hmac=d56a13a533ef052e3bde7f99d06bbbdbc1bdd162493568f599482739b1a98778);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    
}
#course{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    
  
    
}
#course h1{
    font-size: 50px;
}
#course p{
    font-size: 20px;
}
#course1{
    height: auto;
    width: 50vh;
    background-color: rgb(170, 127, 255);
   
 
}

 #course2{
    height: auto;
    width: 50vh;
    background-color: rgb(255, 168, 127);
    
    margin-left: 150px;
  

 
} 

#course3{
    height: auto;
    width: 50vh;
    background-color: aquamarine;
    
   float: right;
  
 ;
   
} 
.co h2{
    text-align: center;

}
.co{
    margin-top: 60px;
    float: left;
    text-align: justify;
    box-shadow: 0 0 10px black;

    

   
}
#img1{
    border-radius: 5px;
    height: 300px;
    width: 80%;
    margin-top: 10PX;
   margin-left: 45PX;
   
    
    
}

.co p{
padding: 20px;
}

.co:hover{
    
    transform: scale(1.05);
   transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s; 
   
}

